.navbar{
    background-color: red;
    text-align: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 140px;
    flex-wrap: nowrap;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}
.navbar ul li{
    display: inline-block;
    margin-right: 20px;
    flex-wrap: nowrap;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.navbar a:hover{
    background-color:white;
    
}
body{
    background-color: white;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    

}
.titolo-container{
    flex-wrap: nowrap;
    display: flex;
    margin: 0;
    height: 300px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    animation: animazionerossoblu 5s linear 2s infinite alternate;
   
    left: 0;
    right: 0;
}
.titolo{
    font-family:"Fascinate Inline",sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding-top: 40px;
   animation: moveTitle 1.5s infinite ease-in-out;
}
@keyframes moveTitle{
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px); /* Sposta il testo verso l'alto */
    }
    50% {
        transform: translateY(10px);  /* Sposta il testo verso il basso */
    }
    75% {
        transform: translateY(-5px); /* Effetto intermedio tra su e giù */
    }
    100% {
        transform: translateY(0);    /* Ripristina la posizione originale */
    }
}
.chiSono-container{
    width: 200px;
    height: 400px;
    box-shadow: 7px 10px 26px -5px red;
    padding: 30px;
    border-radius: 20px ;
margin-top: 40px;
}

@keyframes animazionerossoblu
{
0%   {background: #8a2be2; }
25%  {background: #ff7f50; }
50%  {background: #8fbc8f; }
75%  {background: 	#2f4f4f; }
100% {background: black; }
}
.carosello-container{
    width: 400px;
    max-width: 400px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    box-shadow: 7px 10px 26px -5px red;
    border-radius: 20px ;
    flex-direction: column;
   
}
.carosello{
display: flex;
transition: transform 2s ease;
animation: moveSlides 10s infinite;
}
.slide{
    min-width: 100%;
    transition: opacity 1s ease;
}
.slide img{
    width: 100%;
    height: auto;
}
@keyframes moveSlides{
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}